#header {
    top: 0px;
    bottom: 10%;
    position: relative;
    display: inline;
    font-size: 0.8em;
    float: right;

}
#gmail, #images {
    margin-top: 20px;
    font-family: sans-serif;
    color: darkslategray;
}

#gmail{
    position: relative;
    float: left;
    margin-right: 20px;
    
}

#images{
    position: relative;
    float: left;
    margin-right: 160px;
    
}

#optionsMenu{
    float: right;
    margin-right: 120px;
    margin-top: -18px;
    padding-right: 0px;
}


#userProfile {
    position: relative;
    height: 30px;
    width: 70px;
    background-color:#3366ff;
    border-radius: 3px;
    float: right;
    margin-right: -120px;
    margin-top: -21px;
    
}

#userProfile span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    white-space: nowrap;
}

   

.body{
    position: relative;
    top: 120px;
    text-align: center;
    clear: both;
    
    
}

#google{
    font-size: 5.5em;
    margin-top: 200px;
    font-family: Futura , sans-serif;
    font-weight: bold;
    letter-spacing: -16px;

}

#google span:nth-child(1) {
   color:#3366ff;
    
}

#google span:nth-child(2){
    color: #ff3300;
}

#google span:nth-child(3){
    color:#ffcc33;
}

#google span:nth-child(4){
    color:#3366ff;
}

#google span:nth-child(5){
    color:#339900;
}

#google span:nth-child(6){
    color:#ff3300;
}

#searchText{
    width: 570px;
    height: 43px;
    margin: 30px;
    border: 1px solid gainsboro;
    font-size: 1em;
    box-shadow:0px 5px 10px #cccccc;
    border-radius: 2px;
}

#buttons{
    display: inline;
    margin: auto;
}

 #searchButton, #luckyButton{
    height: 2.5em;
    width:11em;
    border-radius: 0;
    font-weight: bold;
    color: darkslategray;
    font-size: .7em;
    font-family: sans-serif;
    background-color: #e6e6e6;
    box-shadow: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-top-style: none;
    margin-bottom: 20px;
} 
#searchButton{
    display: inline;
    position: relative;
    float: left;
    margin-left: 590px;
}

#luckyButton{
    display: inline;
    position: relative;
    float: right;
    margin-right: 580px;
}

#footer{
    position: relative;
    top: 400px;
    background-color: #e6e6e6;
    width: 100em;
    height: 40px;
    margin-left: -10px;
    display: inline-block;
}

#leftSideLinks, #rightSideLinks{
    font-size: .80em;
    margin-top: 12px;
    word-spacing: 25px;
    color: darkslategray;
    font-family: sans-serif;
    font-weight: normal;
}


#leftSideLinks{
    float: left;
    margin-left: 30px;

}

#rightSideLinks{
    float: right;
    margin-right: 185px;
}

a:link{
    color: darkslategray;
    text-decoration: none;
}

a:visited{
    color: darkslategray;
    text-decoration: none;
}




