#header {
    position: relative;
    float: right;
    font-size: 0.8em;
   
}

#gmail{
    position: relative;
    float: left;
    margin-right: 30px;
    
}

#images{
    position: relative;
    float: right;
    margin-right: 200px;
}

.body{
    position: relative;
    text-align: center;
    clear: both;
    padding-top: 10px
}

#google{
    font-size: 5.5em;
    margin-top: 200px;
    font-family: Futura , sans-serif;
    font-weight: bold;
    letter-spacing: -16px;

}

#google span:nth-child(1) {
   color:#3366ff;
    
}

#google span:nth-child(2){
    color: #ff3300;
}

#google span:nth-child(3){
    color:#ffcc33;
}

#google span:nth-child(4){
    color:#3366ff;
}

#google span:nth-child(5){
    color:#339900;
}

#google span:nth-child(6){
    color:#ff3300;
}

#searchText{
    width: 600px;
    height: 35px;
    margin: 30px;
    border: 1px solid #3366FF;
}

#searchButton{
    position: relative;
    float: left;
    margin-left: 610px
}

#luckyButton{
    position: relative;
    float: right;
    margin-right: 600px;
}

#offeredLanguages{
    clear: both;
    font-size: 0.8em;
}



